html,body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.titulo-contenedor{
  width:100%;
  text-align:center;
}

.bienvenida{
  text-align:center;
}

.contenedor-tabla{
  
  display:flex;
  justify-content:center;
  align-items:center;
}
